<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/style.css">
</head>
<body>
	<section class="container home">
		<p class="h1">Hot Restaurant</p>
		<p class="h3">Current Reservations and Waiting List</p>
		<div class="bMenu">
			<a href="/tables.html"><button type="button" class="btn btn-primary">View Tables</button></a>
			<a href="/reserve.html"><button type="button" class="btn btn-success">Make reservation</button></a>
		</div>
	</section>
</body>
</html>