<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tables</title>
</head>
<body>
	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>reserve</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/style.css">

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="assets/tables.js" type="text/javascript"></script>
</head>
<body>
	<section class="container home">
		<p class="h1">Hot Restaurant</p>
		<p class="h3">Current Reservations and Waiting List</p>
		<div class="bMenu">
			<a href="/reserve"><button type="button" class="btn btn-success">Make Reservation</button></a>
			<a href="/"><button type="button" class="btn btn-info">Home</button></a>
		</div>
	</section>
	<section class="container">
		<div class="card">
			<div class="card-header">
				<h4>Current Reservations</h4>
			</div>
			<ul id="table-list" class="list-group list-group-flush">
			</ul>
		</div>
	</section>
	<section class="container">
	<div class="card">
			<div class="card-header">
				<h4>Waiting List</h4>
			</div>
			<ul id="waiting-list" class="list-group list-group-flush">
			</ul>
		</div>		
	</section>
	<script type="text/javascript">
        $(document).ready(function() {
            getTables();
            //console.log("is this happening");
        });
    </script>
</body>
</html>