<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tables</title>
</head>
<body>
	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>reserve</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/style.css">
</head>
<body>
		<section class="container home">
		<p class="h1">Hot Restaurant</p>
		<p class="h3">Current Reservations and Waiting List</p>
		<div class="bMenu">
			<a href="/reserve.html"><button type="button" class="btn btn-success">Make Reservation</button></a>
			<a href="/index.html"><button type="button" class="btn btn-info">Home</button></a>
		</div>
	</section>
	<section class="card container">
		<div class="card">
			<div class="card-header">
				<h4>Current Reservations</h4>
			</div>
			<div class="card-body">
				<ul id="tableList" class="list-group">	
				</ul>				
			</div>

		</div>
	</section>
	<section class="card container">
	<div class="card">
			<div class="card-header">
				<h4>Waiting List</h4>
			</div>
			<div class="card-body">
				<ul id="tableList" class="list-group">	
				</ul>				
			</div>

		</div>		
	</section>

</body>
</html>